/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.Back
{
	height: 660px;
	width: 1350px;
	/*background-color: red;*/
}
header
{
	height: 150px;
	width: 1364px;
	background-color: black;
}
section
{
		height: 550px;
	width: 1364px;
	background-color: grey;
	line-height: 20px;

}
footer
{
	height: 100px;
	width: 1364px;
	background-color: black;
}
.logo1
{
	padding-left: 20px;
	float: left;
}
.logo1 img
{
	padding-left: 50px;
}
li a
{
	color: white;
	text-decoration: none;
}
nav
{
	float: right;
	word-spacing: 30px;
	padding: 30px;
}
nav li
{
	display: inline-block;
	line-height: 80px;
}
.sec_img
{
	height: 550px;
	background-image: url("images/1.jpg");
}
.ceter
{
	height: 300px;
	width: 450px;
	background-color: #0a0808;
	margin: 70px auto;
	margin-top: 0px;
	opacity: .7;
	color: white;
}
/*------------------------------------User-login------------------------------------*/
.login_img
{
	height: 550px;
	background-image: url("images/3.jpg");
}
.logo h1
{
	color: white;
	font-size: 25px;
	margin-top: 15px;
	line-height: 50px;
	padding: 10px;
	word-spacing: 5px;
}
.ceter1
{
	height: 400px;
	width: 500px;
	background-color: #0a0808;
	margin: 70px auto;
	margin-top: 0px;
	opacity: .7;
	color: white;
}
.inp
{
	margin: 60px auto;
	text-align: center;
	line-height: 30px;
}
input
{
	height: 20px;
	width: 200px;
}
button
{
	
	margin-right: 155px;	
}
.nav
{
	float: right;
	word-spacing: 30px;
	padding-right: 20px;
	
}
.nav li
{
	display: inline-block;

}
.para
{
	padding-bottom:  10px;
	padding-left: 60px;
}
/*-------------------------------Admin Login-----------------------------*/
.A_login_img
{
	height: 555px;
	background-image: url("images/4.png");
}
/*-----------------------------register------------------------------*/
.inp1
{
	margin: 50px auto;
	text-align: center;
	line-height: 30px;
}
.inp1 button
{
	margin-left: 15px;
	line-height: 15px;
}
/*--------------------------------Management---------------------------*/
.A_login_imgM
{
	background-image: url("images/1.jpg");	
	height: 550px;
}
.nava1
{
	padding-right: 250px;
}	
.nava1 li 
{
	display: inline-block;
	margin: 0 15px;
	list-style: none;
}
.nava1 li a
{
	font-size: 15px;
	color: white;
	text-decoration: none;
	position: relative;
	display: block;
	width: 90px;
	height: 50px;
	border-radius: 50%;
	background-color: black;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.ceter2
{
	height: 400px;
	width: 500px;
	background-color:#5a1107;
	margin: 70px auto;
	margin-top: 0px;
	opacity: .8;
	color: white;
}
.nava1 li a:hover {
	transform: translate(0, -10px);
	font-size: 20px;
	background-color: white;
	color: black;
	width: 120px;
}
.navab
{
	padding-right: 160px;

}
.navab li a
{
	text-decoration: none;
}
.navab li
{
	list-style: none;
}
.navab li a:hover {
	/*transform: translate(0, -10px);*/
	font-size: 20px;
	
}
.ceter2 p
{
		float: right;
		margin-left: 150px; 
}
/*--------------------------------Add Book------------------------------*/
.inp2
{
	margin: 50px auto;
	text-align: center;
	line-height: 30px;
}
.inp2 button
{
	width: 56px;
	height: 25px;
	font-size: 15px;

}
.inp2 button:hover {
	width: 60px;
	height: 30px;
	font-size: 18px;
}
/*-----------------------------------Registrtation---------------*/
.inp1 button:hover {
	width: 85px;
	height: 25px;
	font-size: 15px;	
}
#Rset{
	height: 470px;
	width: 500px;
	background-color: #0a0808;
	margin: 70px auto;
	margin-top: 0px;
	opacity: .7;
	color: white;
}
/*-----------------------------------Delete----------------------------------*/
.inp3
{
    margin: 50px auto;
	text-align: center;
	line-height: 30px;
}
.inp3 button
{
	width: 60px;
	height: 25px;
	font-size: 15px;
}
.inp3 button:hover {
	width: 67px;
	height: 30px;
	font-size: 18px;
}
.but
{
	padding-left: 140px;
	padding-top: 10px;
}
.but #bb
{
	width: 65px;
	height: 25px;
	font-size: 15px;
}
.but #bb:hover
{
	width: 70px;
	height: 30px;
	font-size: 18px;
}
.ceter4
{
	height: 375px;
	width: 500px;
	background-color: #0a0808;
	margin: 70px auto;
	margin-top: 0px;
	opacity: .7;
	color: white;
} 
